@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

* {
  transition-property: all;
  transition-timing-function: var(
    --tw-ease,
    var(--default-transition-timing-function)
  );
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  --tw-duration: 200ms;
  transition-duration: 200ms;
}

@theme {
  --breakpoint-xxs: 21.25rem; /* COMMENT: 340px */
  --breakpoint-xs: 23.125rem; /* COMMENT: 363px */
  --breakpoint-xxl: 82.5rem; /* COMMENT: 1320px */
  --color-picto-primary: #3B4CCA;
  --color-picto-primary-dark: #361ED8;
  --color-soft-white: #f0f1f3;
  --color-soft-dark: #87909d;
}

.btn-primary {
  @apply bg-picto-primary border-0 text-white hover:scale-[102%] hover:bg-picto-primary-dark transition-all duration-500;
}
body {
  font-family: "Work Sans", sans-serif;
}

.content {
  @apply max-xxl:w-full xxl:max-w-[1320px] xxl:mx-auto;
}

.section-title {
  @apply md:font-semibold text-3xl sm:text-4xl md:text-5xl font-medium;
}

.center {
  @apply flex justify-center items-center;
}